<section class="info-box" id="polls" ng-app="pollsApp">
{% verbatim %}
  <div ng-controller='userPollCtrl'>
    <h1>Poll: [[ poll.title ]]</h1>
    <div ng-repeat="item in poll.items">
      <span ng-click='vote(item)' class="glyphicon glyphicon-plus"></span>
      <strong>[[ item.text ]]</strong>
      <span class="pull-right">[[ item.percentage | number:0 ]]%</span>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-value="[[ item.percentage ]]" aria-valuemin="0" aria-valuemax="100" style="width: [[ item.percentage ]]%;">
      </div>
    </div>
    </div>
</div>
{% endverbatim %}
</section>



<!--
    <span ng-click='vote("votes_for_yoda")' class="glyphicon glyphicon-plus"></span>
    <strong>Yoda</strong>
    <span class="pull-right">[[ votes_for_yoda.percent | number:0 ]]%</span>
    <div class="progress">
      <div class="progress-bar progress-bar-danger" role="progressbar" aria-value="[[ votes_for_yoda.percent ]]" aria-valuemin="0" aria-value-max="max=100" style="width: [[ votes_for_yoda.percent ]]%;">
      </div>
    </div>
    <span ng-click='vote("votes_for_qui")' class="glyphicon glyphicon-plus"></span>
    <strong>Qui-Gon Jinn</strong>
    <span class="pull-right">[[ votes_for_qui.percent | number:0 ]]%</span>
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-value="[[ votes_for_qui.percent ]]" aria-valuemin="0" aria-value-max="max=100" style="width: [[ votes_for_qui.percent ]]%;">
      </div>
    </div>
    <span ng-click='vote("votes_for_obi")' class="glyphicon glyphicon-plus"></span>
    <strong>Obi-Wan Kenobi</strong>
    <span class="pull-right">[[ votes_for_obi.percent | number:0 ]]%</span>
    <div class="progress">
      <div class="progress-bar progress-bar-warning" role="progressbar" aria-value="[[ votes_for_obi.percent ]]" aria-valuemin="0" aria-value-max="max=100" style="width: [[ votes_for_obi.percent ]]%;">
      </div>
    </div>
    <span ng-click='vote("votes_for_luke")' class="glyphicon glyphicon-plus"></span>
    <strong>Yoda</strong>
    <span class="pull-right">[[ votes_for_yoda.percent | number:0 ]]%</span>
    <div class="progress">
      <div class="progress-bar progress-bar-success" role="progressbar" aria-value="[[ votes_for_luke.percent ]]" aria-valuemin="0" aria-value-max="max=100" style="width: [[ votes_for_luke.percent ]]%;">
      </div>
    </div>
    <span ng-click='vote("votes_for_me")' class="glyphicon glyphicon-plus"></span>
    <strong>Me... of course</strong>
    <span class="pull-right">[[ votes_for_me.percent | number:0 ]]%</span>
    <div class="progress">
      <div class="progress-bar" role="progressbar" aria-value="[[ votes_for_me.percent ]]" aria-valuemin="0" aria-value-max="max=100" style="width: [[ votes_for_me.percent ]]%;">
      </div>
    </div>
  </div>
</section>
-->
